{% extends "layouts/main.njk" %}

{% set pageTitle = "Your Desk" %}
{% set styles = []%}
{% set hasHeader = true %}

{% block body %}
    <div class="container">
        <div class="container has-text-centered">
            <h1 class="title">Welcome to your desk, {{username}}.</h1>
        </div>
        <hr />
        <div class="columns">
            <div class="column is-4">
            </div>
            <div class="column is-8">
                
            </div>
        </div>
    </div>
{% endblock %}