<div class="notification is-warning is-clearfix hidden" id="delete-warning">
    {{deleteWarningText}}
    <br/>
    <div class="buttons is-pulled-right">
        <button class="button is-danger" id="yes-delete">Yes</button>
        <button class="button is-primary" id="no-delete">No</button>
    </div>
</div>
