<div class="notification is-warning is-clearfix hidden delete-warning" id="warning-{{deleteId}}">
    Are you sure you'd like to delete this {{whichPage}}?
    <br/>
    <div class="buttons is-pulled-right">
        <button class="button is-danger yes-delete" id="yes-{{deleteId}}" data-deletetarget={{whichPage}}>Yes</button>
        <button class="button is-primary no-delete" id="no-{{deleteId}}">No</button>
    </div>
</div>
