<div class="box">
    <aside class="menu">
        <h4 class="menu-label">
            {{username}}
        </h4>
        <hr/>
        <p class="menu-label">
            Stats
        </p>
        <ul class="menu-list stats">
            <li>{{num}}
                book{{ "s" if (num > 1) else "" }} authored.</li>
            <li>200 fans.</li>
            <li>60 stuff.</li>
            <li>19 things.</li>
        </ul>
        <p class="menu-label">
            Creations
        </p>
        <ul class="menu-list">
            <li>
                <a href="/admin/view/authors">Authors</a>
                <a href="/admin/new/author" class="icon">
                    <i class="fas fa-plus-circle"></i>
                </a>
            </li>
            <li>
                <a href="/admin/view/books">Books</a>
                <a href="/admin/new/book" class="icon">
                    <i class="fas fa-plus-circle"></i>
                </a>
            </li>
            <li>
                <a href="/admin/view/pages">Pages</a>
                <a href="/admin/new/page" class="icon">
                    <i class="fas fa-plus-circle"></i>
                </a>
            </li>
        </ul>
    </aside>
</div>