{% macro editFieldForm(type='', field='', alias='') %}
    <form class="hidden" id="edit-{{type}}-{{field}}" data-alias="{{alias}}">
        <div class="field has-addons">
            <div class="control is-expanded">
                <input class="input" type="text" placeholder="New {{type}} {{field}}." name="{{field}}" id="new-{{type}}-{{field}}">
            </div>
            <div class="control">
                <button class="button is-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
{% endmacro %}