<nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h4 class="title">{{siteTitle}}</h4>
            {% if bookTitle %}
                <span class="pipe">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <h4 class="title">{{bookTitle}}</h4>
            {% endif %}
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="headerNav">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    {% if bookTitle %}
        <div id="headerNav" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item">
                    First
                </a>
                <a class="navbar-item">
                    Latest
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        About
                    </a>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item">
                            About the Author
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if inAdmin %}
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/admin/view/books" class="button is-light">
                        My Desk
                    </a>
                    <form action="/admin/logout" method="post">
                        <button class="button is-light">
                            Log Out
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
</nav>