{% extends "layouts/main.njk" %}

{% set pageTitle = "Your Desk" %}
{% set styles = ["desk", "header"]%}
{% set cdns = ["https://unpkg.com/axios/dist/axios.min.js"]%}
{% set hasHeader = true %}
{% set script = "desk" %}

{% block body %}
    <div class="columns">
        <div class="column">
            {% include "partials/deskDrawer.njk" %}
        </div>
        <div class="column">
            <div class="container">
                <div class="container has-text-centered">
                    <h1 class="title">Welcome to your desk,
                        {{username}}.</h1>
                </div>
                <hr/>
                <section class="section desk-body">
                    <h3 class="title is-size-4 has-text-primary">{{deskPageName}}</h3>
                    {% block deskBody %}{% endblock %}
                </section>
            </div>
        </div>
    </div>
    <div class="modal{% if hasForm %} is-active{% endif %}">
        <div class="modal-background"></div>
        <div class="modal-content box">
            {% if isEditing %}
                {% include "../editors/editAuthors.njk" %}
            {% elif isNew %}
                {% if isAuthor %}
                    {% include "admin/newMakers/newAuthor.njk" %}
                </div>
                <a href="/admin/view/authors">
                    <button class="modal-close is-large" aria-label="close"></button>
                </a>
            {% elif isBook %}
                {% include "admin/newMakers/newBook.njk" %}
                <a href="/admin/view/books">
                    <button class="modal-close is-large" aria-label="close"></button>
                </a>
            {% elif isPage %}
                {% include "admin/newMakers/newPage.njk" %}
                <a href="/admin/view/pages">
                    <button class="modal-close is-large" aria-label="close"></button>
                </a>
            {% else %}
                </div>
                <a href="/admin/view/books">
                    <button class="modal-close is-large" aria-label="close"></button>
                </a>
        {% endif %}
    {% endif %}

</div>
{% endblock %}