{% extends "layouts/main.njk" %}

{% set pageTitle = "Your Desk" %}
{% set styles = ["desk", "header"]%}
{% set cdns = ["https://unpkg.com/axios/dist/axios.min.js"]%}
{% set hasHeader = true %}
{% set script = "desk" %}

{% block body %}
    <div class="columns">
        <div class="column">
            {% include "partials/deskDrawer.njk" %}
        </div>
        <div class="column">
            <div class="container">
                <div class="container has-text-centered">
                    <h1 class="title">Welcome to your desk,
                        {{username}}.</h1>
                </div>
                <hr/>
                <section class="section desk-body">
                    {% block deskBody %}{% endblock %}
                </section>
            </div>
        </div>
    </div>
    <div class="modal{% if hasForm %} is-active{% endif %}">
        <div class="modal-background"></div>
        <div class="modal-content box">
            {% if isNew %}
                {% if isAuthor %}
                    {% include "admin/creators/author.njk" %}
                </div>
                <a href="/admin/authors/all">
                    <button class="modal-close is-large" aria-label="close"></button>
                </a>
            {% elif isBook %}
                {% include "admin/creators/book.njk" %}
                <a href="/admin/books/all">
                    <button class="modal-close is-large" aria-label="close"></button>
                </a>
            {% elif isPage %}
                {% include "admin/creators/page.njk" %}
                <a href="/admin/pages/all">
                    <button class="modal-close is-large" aria-label="close"></button>
                </a>
            {% elif isBookChapter %}
                {% include "admin/creators/bookSubCreators/chapter.njk" %}
                <a href="/admin/book/{{book.alias}}/chapters">
                    <button class="modal-close is-large" aria-label="close"></button>
                </a>
            {% else %}
            </div>
            <a href="/admin/books/all">
                <button class="modal-close is-large" aria-label="close"></button>
            </a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}