<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BookMS Demo | {{pageTitle}}</title>

    <meta name="description" content=""/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" type="image/png" href="http://example.com/favicon.png" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="/style/bulma.css" />
    {% for style in styles %}
      <link rel="stylesheet" type="text/css" media="screen" href="/style/{{style}}.css" />
    {% endfor %}
  </head>
  <body class="has-navbar-fixed-top">
    {% if hasHeader %}
        {% block header %}
        {% include "partials/header.njk" %}
        {% endblock %}
    {% endif %}
    <section class="section">
        {% block body %}{% endblock %}
    </section>
  </body>
</html>