.desk-body {
    padding-top: 1rem;
}
.menu-list a {
    display: inline-block;
}
.menu-list a.icon {
    padding-left: 0;
    margin-left: -0.5rem;
}
.stats li {
    padding: 0.5em 0.75em;
}
.tile.is-parent {
    flex-wrap: wrap;
}
.tile.is-child .box {
    margin: 0 1rem 1rem 0;
}