
{% extends "layouts/main.njk" %}

{% set pageTitle = "Home" %}
{% set styles = []%}

{% block body %}
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title">{{title}}</h1>
            <h2 class="subtitle">{{author}}</h2>
            <img src={{cover}} />
        </div>
    </section>
{% endblock %}