
{% extends "layouts/main.njk" %}

{% set pageTitle = "Home" %}
{# {% set styles = ["reset", "main", "header", "cover"]%} #}

{% block body %}
    <h1>Title</h1>
    <img src={{cover}} />
{% endblock %}