<h1 class="title">Create a new chapter in <em>{{book.title}}</em>.</h1>

<form action="/admin/new/chapter/{{book.alias}}" method="post">
    <div class="field">
        <label class="label">Title</label>
        <div class="control">
            <input class="input" type="text" name="ch_title" placeholder="When Stella Met Omni">
        </div>
    </div>
    <div class="field">
        <div class="control is-clearfix">
            <button class="button is-pulled-right is-primary">Submit</button>
        </div>
    </div>
</form>