{% extends "layouts/desk.njk" %}

{% set script = "delete" %}
{% set whichPage = "page" %}

{% block deskBody %}
    <h3 class="title is-size-4 has-text-primary">Your Standalone Pages</h3>
    <div class="tile is-ancestor">
        <div class="tile is-12 is-parent">
            {% for page in stdalonePages %}
                <article class="tile is-child is-4">
                    <div class="box">
                        <button class="delete is-pulled-right show-delete-warning" data-deleteid="{{page._id}}"></button>
                        <h5 class="title"><a href="/admin/pages/{{page.alias}}">{{page.p_title}}</a></h5>
                        <p class="subtitle">{{page.p_authors}}</p>
                        <hr/>
                        <p>{{page.p_content}}</p>
                        {% set deleteId = page._id %}
                        {% include "partials/deleteWarning.njk" %}
                    </div>
                </article>
            {% endfor %}
            <article class="tile is-child is-4">
                <div class="box has-background-dark">
                    <a href="/admin/pages/new">
                        <h5 class="title is-inline-flex has-text-white">
                            Create a new standalone page
                            <span class="icon">
                                <i class="fas fa-plus-circle"></i>
                            </span>
                        </h5>
                    </a>
                </div>
            </article>
        </div>
    </div>
{% endblock %}