{% extends "layouts/desk.njk" %}

{% set deskPageName = "Your Books" %}

{% block deskBody %}
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            {% for book in books %}
                <article class="tile is-child is-4">
                    <div class="box">
                        <h5 class="title">{{book.title}}</h5>
                        <p class="subtitle">{{book.authors}}</p>
                        {% if book.cover %}
                            <img src="{{book.cover}}"/>
                        {% endif %}
                    </div>
                </article>
            {% endfor %}
            <article class="tile is-child is-4">
                <div class="box has-background-dark">
                    <a href="/admin/new/book" class="is-clearfix">
                        <h5 class="title is-inline-flex has-text-white">
                            Create a new book
                            <span class="icon has-text-white">
                                <i class="fas fa-plus-circle"></i>
                            </span>
                        </h5>
                    </a>
                </div>
            </article>
        </div>
    </div>
{% endblock %}