{% extends "layouts/desk.njk" %}

{% set deskPageName = "Your Authors" %}

{% block deskBody %}
    <div class="tile is-ancestor">
        <div class="tile is-12 is-parent">
            {% for author in authors %}
                <article class="tile is-child is-4">
                    <div class="box">
                        <h5 class="title">{{author.name}}</h5>
                        <p>{{author.bio}}</p>
                    </div>
                </article>
            {% endfor %}
            <article class="tile is-child is-4">
                <div class="box has-background-dark">
                    <a href="/admin/new/author">
                        <h5 class="title is-inline-flex has-text-white">
                            Create a new author.
                            <span class="icon">
                                <i class="fas fa-plus-circle"></i>
                            </span>
                        </h5>
                    </a>
                </div>
            </article>
        </div>
    </div>
{% endblock %}