{% extends "layouts/desk.njk" %}

{% set deskPageName = "Your Authors" %}

{% block deskBody %}
    <div class="tile is-ancestor">
        <div class="tile is-12 is-parent">
            {% for author in authors %}
                <article class="tile is-child is-4">
                    <div class="box">
                        <button class="delete is-pulled-right" id="show-delete-warning"></button>                        
                        <h5 class="title">{{author.name}}</h5>
                        <p>{{author.bio}}</p>
                        <div class="notification is-warning is-clearfix hidden" id="delete-warning">
                            Are you sure you'd like to delete this author?
                            <br />
                            <div class="buttons is-pulled-right">
                                <button class="button is-danger">Yes</button>
                                <button class="button is-primary">No</button>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
            <article class="tile is-child is-4">
                <div class="box has-background-dark">
                    <a href="/admin/new/author">
                        <h5 class="title is-inline-flex has-text-white">
                            Create a new author.
                            <span class="icon">
                                <i class="fas fa-plus-circle"></i>
                            </span>
                        </h5>
                    </a>
                </div>
            </article>
        </div>
    </div>
{% endblock %}