{% extends "layouts/desk.njk" %}

{% set whichPage = "author" %}

{% block deskBody %}
    <h3 class="title is-size-4 has-text-primary">Your Authors</h3>
    <div class="tile is-ancestor">
        <div class="tile is-12 is-parent">
            {% for author in authors %}
                <article class="tile is-child is-4">
                    <div class="box">
                        <button class="delete is-pulled-right" id="show-delete-warning"></button>                        
                        <h5 class="title"><a href="/admin/view/author/{{author.alias}}">{{author.name}}</a></h5></a>
                        <p>{{author.bio}}</p>
                        {% set deleteId = author._id %}
                        {% include "partials/deleteWarning.njk" %}
                    </div>
                </article>
            {% endfor %}
            <article class="tile is-child is-4">
                <div class="box has-background-dark">
                    <a href="/admin/new/author">
                        <h5 class="title is-inline-flex has-text-white">
                            Create a new author.
                            <span class="icon">
                                <i class="fas fa-plus-circle"></i>
                            </span>
                        </h5>
                    </a>
                </div>
            </article>
        </div>
    </div>
{% endblock %}