{% extends "layouts/viewBookBase.njk" %}

{% set activeTab = "chapters" %}

{% block viewBookContent %}
    <ol>
        {% for chapter in chapters%}
            <li>
                <h5 class="title is-6">
                    <a>{{chapter.ch_title}}</a>
                </h5>
            </li>
        {% endfor %}
    </ol>
    <a href="/admin/new/{{book.alias}}/chapter" class="button is-dark is-pulled-right">
        <span class="has-text-white">
            <i class="fas fa-plus-circle"></i>
        </span>&nbsp;&nbsp;&nbsp;&nbsp;Create a new chapter.
    </a>
{% endblock %}