{% extends "layouts/viewBookBase.njk" %}
{% from "partials/editFieldForm.njk" import editFieldForm %}

{% set activeTab = "info" %}

{% block viewBookContent %}
    <section class="columns">
        <div class="column is-5">
            <h5 class="title is-6">Title:&nbsp;&nbsp;&nbsp;&nbsp;
                <a id="toggle-edit-book-title">
                    <i class="fas fa-pen-alt"></i>
                </a>
            </h5>
            <p id="show-book-title">"{{book.title}}"</p>
            {{editFieldForm('book', 'title', book.alias)}}
            <hr/>
            <h5 class="title is-6">Alias:&nbsp;&nbsp;&nbsp;&nbsp;
                <a id="toggle-edit-book-alias">
                    <i class="fas fa-pen-alt"></i>
                </a>
            </h5>
            <p id="show-book-alias">{{book.alias}}</p>
            {{editFieldForm('book', 'alias', book.alias)}}
            <hr/>
            <h5 class="title is-6">Authors:&nbsp;&nbsp;&nbsp;&nbsp;
                <a id="toggle-edit-book-authors">
                    <i class="fas fa-pen-alt"></i>
                </a>
            </h5>
            <ul id="show-book-authors">
                {% for author in book.authors %}
                    <li>
                        <a href="/admin/view/author/{{author.alias}}">{{author.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="column is-7">
            <h5 class="title is-6">Cover Image:&nbsp;&nbsp;&nbsp;&nbsp;
                <a id="toggle-edit-book-cover">
                    <i class="fas fa-pen-alt"></i>
                </a>
            </h5>
            <p>
                <a href="{{book.cover}}" target="_blank">{{book.cover}}</a>
            </p>
            {{editFieldForm('book', 'cover', book.alias)}}
            <hr/>
            <h5 class="title is-6">Synopsis:&nbsp;&nbsp;&nbsp;&nbsp;
                <a id="toggle-edit-book-synopsis">
                    <i class="fas fa-pen-alt"></i>
                </a>
            </h5>
            <p>{{book.synopsis}}</p>
            {{editFieldForm('book', 'synopsis', book.alias)}}
        </div>
    </section>
{% endblock %}